@{
    ViewBag.Title = "Home Page";
}

<!---Jumbotron -->
<div class="jumbotron">
    <div class="container-fluid txt-center padding">
        <div class="row">
            <div class="col col-6 col-sm-6 ">
                <img src="~/Images/Logo.jpg" />
            </div>
            <div class="col col-6 col-sm-6 ">
                <img src="~/Images/Pack Pickup.png" />
            </div>
        </div>

        <p>Packing and packup Service!</p>

        <button  type="submit" class="btn btn-dark" onclick="location.href='@Url.Action("Login" , "Account")'" >SIGN IN  </button>
        <button type="submit" class="btn btn-secondary" onclick="location.href='@Url.Action("SignUp", "Account")'" > SIGN UP!</button>


    </div>
</div>

<div class="body1">

    <!-- Team Card-->
    <div class="container-fluid ">
        <div class="row">
            <div class="col cols-6">
                <button  type="button" class="btn btn-light"   onclick="location.href='@Url.Action("Index" , "Vehicle")'" >Any Pickup or Truck</button>
                <button id="background-image" type="button" class="btn btn-light" onclick="location.href='@Url.Action("Index" , "Vehicle" , new { type ="1 Ton truck" })'">1 Ton truck</button>
                <button id="background-image1" style="background-image:url(../../Images/PackPickup5.jpg)" type="button" class="btn btn-light" onclick="location.href='@Url.Action("Index" , "Vehicle" , new { type ="2 Ton truck" })'">2 Ton truck</button>
            </div>

            <div class="col cols-6">
                <button type="button" class="btn btn-light"></button>
                <button type="button" class="btn btn-light"></button>
                <button type="button" class="btn btn-light"></button>
            </div>

        </div>
    </div>
    
    
    <hr class="my-4" />
    <!-- Connect -->
    <div class="txt-center bg-light-100">
        <h2>Free for 9 months</h2>
    </div>
</div>