@{
    ViewBag.Title = "Home Page";
}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <img src="~/Images/Hero E.svg" />
    <!-- Team Card-->
    <div class="container-fluid ">

       <img src="~/Images/Hire! Packing and Transportation services.svg"  class="Hire"/>

        <div class="row">
            <div class="col-6 col-sm-6 cols-6">
                <a href="@Url.Action("ListView" , "Vehicle" , new { type = "1 Ton Truck" })"><img src="~/Images/1t.svg" /></a>
            </div>
            <div class="col-6 col-sm-6 cols-6">
                <a href="@Url.Action("ListView" , "Vehicle" , new { type = "2 Ton Truck" })"><img src="~/Images/2ton.svg" /></a>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-6 cols-6">
                <a href="@Url.Action("ListView" , "Vehicle" , new { type = "2 Ton Truck" })"><img src="~/Images/rec.svg" /></a>
            </div>
            <div class="col-6 col-sm-6 cols-6">
                <a href="@Url.Action("ListView" , "Vehicle" , new { type = "2 Ton Truck" })"><img src="~/Images/tt.svg" /></a>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-6 cols-6">
                <a href="@Url.Action("ListView" , "Vehicle" , new { type = "2 Ton Truck" })"><img src="~/Images/ref.svg" /></a>
            </div>
            <div class="col-6 col-sm-6 cols-6">
                <a href="@Url.Action("ListView" , "Vehicle" , new { type = "2 Ton Truck" })"><img src="~/Images/cov.svg" /></a>
            </div>

        </div>
        
        <div class="row">
            <div class="col-12 col-sm-12 col-12">
                <a href="@Url.Action("ComingSoon", "Vehicle")"><img src="~/Images/OTHER.svg" /></a>
            </div>
        </div>

    </div>
    
    
    <hr class="line" />
    <!-- Connect -->

    <div class="txt-center home">
            <a href="@Url.Action("DriverRegistration" , "Account")"><img src="~/Images/driver.svg" style="width:50px; height:auto;" /> </a>

    </div>
   

